
/**
 *
 * Stylesheet for V is for Vector 
 *
 */


/** 
 *
 * Fonts:
 *  font-family: 'Audiowide', cursive;
 *  font-family: 'Coda', cursive;
 *  font-family: 'Nova Square', cursive;
 *
 */

/**
 *
 *  palette
 *    orange: #ff5600;
 *    blue: #ace9f1;
 *    green: #5df50a;
 */

/**
 *
 * contents
 *
 *  base
 *  layout
 *  modules
 *  state
 *  inline
 *  devices
 *
 */

/**
 *
 * base
 *
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
  font-size: 1em;
  padding-top: 9.375em;
}


h1 span:first-child {
  font-size: 2em;
  font-family: 'audiowide', helvetica, sans-serif;
  color: #ff5600;
  background-color: #333;
  display: inline-block;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

h1 span:last-child {
  margin-top: .5em; 
  font-size: 1em;
  font-family: 'nova square', helvetica, sans-serif;
  background-color: #515151;
  color: white;
  padding: 5px;
}

h1 span:last-child span {
  color: #ff5600;
  padding: 0;
}

h2 {
  color: white;
  font-family: 'nova square', helvetica, sans-serif;
}

a {
  letter-spacing: .05em;
}


/**
 *
 * layout Styles
 *
 */

.l-main-header-col-12 {
  border-bottom: .4em solid #333;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff; 
}

.l-workspace {
  display: none; 
}

.l-features {
  overflow: auto;
  width: 100%;
  padding: 50px 8.333%;
  background-color: #ddd;
}

.l-about {
  width: 100%;
  padding-bottom: 1em;
  background-color: #ddd;
}

.l-links {
  background-color: #ddd;
}

.l-main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10em;
  background-color: #333;
}

.l-main-footer p {
  color: white;
  font-family: 'nova square', helvetica, sans-serif;
}

/**
 * 
 * modules
 *
 */

.m-main-title-section {
  display: inline-block;
  margin: 2% 0 4% 2%;
}

.m-header-nav {
  float: right;
  margin-top: 1.7em;
  margin-right: 8%;

}

.m-header-nav li {
  list-style-type: none;
  margin-top: .2em;
}

.m-header-nav a {
  text-decoration: none;
  font-size: 1.1em;
  color: #333;
  font-family: 'nova square', helvetica, sans-serif;
  -webkit-transition: all .3s ease-in-out; 
  -moz-transition: all .3s ease-in-out; 
  -o-transition: all .3s ease-in-out;
  padding: .1em .2em;
}

.m-header-nav a:hover {
  background-color: #333;
  color: white;
}

.m-header-nav .s-dsktp-ftrs {
  display: none;
}

.m-mob-calc-menu-box {
  background-color: #eee;
  box-shadow: 0 0 .8em .8em rgba(51,51,51,.8); /* @todo mess with opacity */
}

.m-mob-calc-menu-box header {
  background-color: #333;
  padding: .2em;
  overflow: auto;
}

.m-mob-calc-menu-box header > h3 {
  display: inline-block;
  color: white;
  float: left;
  font-family: 'nova square', helvetica, sans-serif; 
  font-size: 1.2em;
}

.m-mob-menu-close {
  text-decoration: none;
  color: #ff5600;
  float: right;
  font-family: 'Audiowide', cursive;
  font-size: 1.2em;
  margin-top: .1em;
  margin-right: .1em;
}

.m-mob-calc-menu-box ul {
  background-color: #515151;
  border-left: .2em solid #333;
  border-right: .2em solid #333;
  border-bottom: .2em solid #333;
  list-style-type: none;
}

.m-mob-calc-menu-box li {
  border-left:.1em solid #eee; 
  border-right:.1em solid #eee; 
  border-bottom: .1em solid #eee;
  padding: .2em .2em .2em 0;
}

.m-mob-calc-menu-box li > a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-family: 'nova square', helvetica, sans-serif;
  display: inline-block;
  padding-left: 1em;
  width: 100%;
}

.m-mob-calc-menu-box li:hover {
  outline: .1em solid #ace9f1;
  background-color: #515151;
}

.m-calc-win-close {
  display: none;  
}

[class*="m-def-calc-win-col-"] { 
  padding: .75em;
}

[class*="m-def-calc-win-col-"] header {
  background-color: #333;
  text-align: center;
  padding: .3em;
}

[class*="m-def-calc-win-col-"] h3 { /* @todo float h3 left to make room for close icon on desktops */
  color: #fff;
  font-size: 1.2em;
  font-family: 'nova square', helvetica, sans-serif;
}

.m-calc-win-def-btn {
  text-align: center;  
  width: 100%;
  background-color: #515151;
  border-left: .2em solid #333;
  border-right: .2em solid #333;
}

.m-calc-win-def-btn a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.1em;
  font-family: 'nova square', helvetica, sans-serif;
}

.m-def-win {
  border-left: .2em solid #333;
  border-right: .2em solid #333;
  border-bottom: .2em solid #333;
  padding-top: .5em;
  display: none;
  background-color: #ddd;
}

.m-def-win p {
  font-size: 1em;
  font-family: 'nova square', helvetica, sans-serif;
  margin: 0 .5em .5em .5em;
  
}

.m-def-win footer {
  width: 100%;
  background-color: #515151;
  text-align: center;
}

.m-def-win footer > a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.1em;
  font-family: 'nova square', helvetica, sans-serif;
}

.m-def-win-highlight {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: .2em .5em;
}

.m-calc-content-win {
  background-color: #fff;
  padding: .5em;
  border-left: .2em solid #333;
  border-right: .2em solid #333;
  border-bottom: .2em solid #333;
  background-color: #ddd;
}

.m-calc-content-win form {
  font-family: 'nova square', helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
}

.m-calc-content-win input[type=number] {
  width: 4em;
  text-align: center;
  margin-top: 1em;
  padding: 1px;
  outline: none;
  border: 1px solid #ddd;
  -webkit-transition: all 0.30s ease-in-out; 
  -moz-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.m-calc-content-win .m-orange-focus:focus {
  padding: 1px;
  box-shadow: 0 0 5px 1px rgba(255, 86, 0, 1); 
  border: 1px solid #ff5600;
}

.m-calc-content-win .m-blue-focus:focus {
  padding: 1px;
  box-shadow: 0 0 5px 1px rgba(172, 233, 241, 1); 
  border: 1px solid #ace9f1;
}

.m-calc-content-win .m-green-focus:focus {
  padding: 1px;
  box-shadow: 0 0 5px 1px rgba(93, 245, 10, 1); 
  border: 1px solid #5DF50A;
}

.m-calc-content-win span {
  background-color: #333;
  padding: 0 .3em;
}
  
.m-calc-content-win input[type=text] {
  width: 4em;
  text-align: center;
  margin-top: 1em;
  padding: 1px;
  outline: none;
  border: 1px solid #ddd;
}

.m-calc-content-win button { /* @todo: much webkitting */
  margin-top: .75em;
  background: -webkit-linear-gradient(top, #696969 0%, #515151 50%, #424242 50%, #333 100%);
  background: -moz-linear-gradient(top, #696969 0%, #515151 50%, #424242 50%, #333 100%);
  font-size: 1.1em;
  font-family: 'nova square', helvetica, sans-serif;
  padding: .3em;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #e8e8e8;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

.m-calc-content-win .m-calc-btn-orange:hover {
  color: #ff5600;
  border: 1px solid #ff5600;
  box-shadow: 0 0 10px 1px #ff5600; /* possible webkitting */
}

.m-calc-content-win .m-rst-btn-blue:hover {
  color: #ace9f1;
  border: 1px solid #ace9f1;
  box-shadow: 0 0 10px 1px #ace9f1; /* @todo: possible webkitting */
}

.m-calc-content-win hr {
  margin-top: 1em;
  margin-bottom: .5em;
}

.m-calc-content-win .m-threeOut-box {
  margin-top: 1em;
}

.m-calc-content-win .m-threeOut-box > p {
  text-align: left;
  padding-left: .6em;
}

.m-special-scalmult-box {
  display: inline-block;
}

.m-special-scalmult-box .in-green-no-pad {
  padding-right: 0;
  color: #5DF50A;
}

.m-special-scalmult-box .in-blue-no-pad {
  padding-left: 0;
  color: #ace9f1;
}

.m-cross-box {
  background-color: #333;
  margin: .5em 0 .5em .5em;
  height: 2em;
  line-height: 2em;
  display: inline-block;
}

.m-cross-box p {
  color: #fff;
  font-family: 'nova square', helvetica, sans-serif;
  font-size: .75em;
}

.m-info-hdr h2 {
  background-color: #333;
  margin-top: 0;
  padding: .3em .5em;
}

[class*="m-feature-col-"] {
  text-align: center;
  background-color: #f0f0f0;
  font-family: 'nova square', helvetica, sans-serif;
  padding: 1em 8.333%;
  margin: .5em 0em;
  display: inline-block;
  border: .1em solid #333;
  border-radius: .5em; 
}


[class*="m-feature-col-"] header {
  background-color: #515151;
  display: inline-block;
  padding: .3em;  
}

[class*="m-feature-col-"] h3 {
  display: inline-block;
  color: #f0f0f0;
}

#m-ftr-hdr-one {
  padding-left: 22px;
  background-image: url('vifvf.svg');
  background-repeat: no-repeat;
}

#m-ftr-hdr-two {
  padding-left: 22px;
  background-image: url('vifvm.svg');
  background-repeat: no-repeat;
}

[class*="m-feature-col-"] p {
  width: 75%;
  margin: 1em 0 0 12.5%;
  text-align: left;
}

[class*="m-feature-col-"]:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

[class*="m-feature-col-"]:last-child header h3 i {
  color: #5df50a;
}

[class*="m-feature-col-"] ul {
  margin-top: 1em;
}

[class*="m-feature-col-"] ul li {
  text-align: left;
}

[class*="m-feature-col-"] ul li:not(:first-child) {
  margin-top: .5em;
}

[class*="m-about-col-"] {
  text-align: center;
  background-color: #ddd;
  font-family: 'nova square', helvetica, sans-serif;
  padding: 1em 8.333% 0 8.333%;
  margin: 2em auto;
}

.m-about-content-wrapper {
  background-color: #f0f0f0;
  border: .1em solid #333;
  border-radius: .5em;
  padding: 2em 0;
  width: 100%;
  
}

[class*="m-about-col-"] p {
  width: 66.666%;
  margin-left: 16.666%;
  text-align: left;
}

[class*="m-about-col-"] ul {
  text-align: left;
  display: inline-block;
  margin-left: 2em;
}

.m-dsktp-link {
  display: none;
}

.m-workspace-nav {
  display: none;
}

[class*="m-dsktp-instruct-win"] {
  display: none;
}

.m-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class*='m-links-content-wrapper'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  padding: 50px 8.333%;
}

[class*='m-links-content-wrapper'] ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;    
  background-color: #f0f0f0;
  border: .1em solid #333;
  width: 100%;
  min-height: 200px;
  padding: 10px; 
  border-radius: .5em;
}

[class*='m-links-content-wrapper'] ul li {
  font-family: 'nova square', helvetica, sans-serif;
  margin: 6px 0;
}

[class*='m-links-content-wrapper'] ul li a {
  color: #3056ff;
  text-decoration: none;
}

[class*='m-links-content-wrapper'] ul li a:hover {
  text-decoration: underline;
}

/**
 *
 *  state rules
 *
 */

.s-links-btn {
  display: none;
}

.s-mob-calc-menu-col- { 
  height: 100%;
  position: fixed;
  padding: 1em;
  display: none; 
  z-index: 9999;
}

.s-dsktp-about {
  display: none;
}

/**
 *
 * inline styles
 *
 */

.in-ltr-orange {
  color: #ff5600;
  font-weight: bold;
}

.in-ltr-blue {
  color: #ACE9F1;
  font-weight: bold;
}

.in-ltr-green {
  color: #5DF50A;
  font-weight: bold;
}

.in-dot {
  font-family: 'coda', helvetica, sans-serif;
}

.in-dot-box {
  font-family: 'coda', helvetica, sans-serif;
  display: inline-block;
}

/**
 *
 *  devices
 *
 */

/* for mobile phones */
[class*="col"] {
  width: 100%;
}

@media only screen and (min-width: 360px) and (max-width: 415px) {
  [class*="col"] {
    width: 100%;
  }

  body {
    font-size: 1.2em;
  }
} 

/* desktops */
@media only screen and (min-width: 768px) {
  [class*="col-1"] { width: 8.333%; }
  [class*="col-2"] { width: 16.666%; }
  [class*="col-3"] { width: 25%; }
  [class*="col-4"] { width: 33.333%; }
  [class*="col-5"] { width: 41.666%; }
  [class*="col-6"] { width: 50%; }
  [class*="col-7"] { width: 58.333%; }
  [class*="col-8"] { width: 66.666%; }
  [class*="col-9"] { width: 75%; }
  [class*="col-10"] { width: 83.333%; }
  [class*="col-11"] { width: 91.666%; }
  [class*="col-12"] { width: 100%; }

  body {
    padding: 0;
    min-width: 1000px;
  }

  h2 {
    margin-top: 12%;
  }

  .l-main-header-col-12 {
    position: static;
  }


  .l-workspace-col-11 {
    display: inline-block;
    overflow: auto;
    position: relative;
    min-height: 80em;
    margin: 2em 0 4.166% 2em;
    box-shadow: 0 0 15px 1px #333;
    background-color: #fff;
    background-image:
      -webkit-repeating-linear-gradient(
        left,
        transparent,
        transparent .9em,
        #ace9f1 .9em,
        #ace9f1 1em
      ),
      -webkit-repeating-linear-gradient(
        top,
        transparent,
        transparent .9em,
        #ace9f1 .9em,
        #ace9f1 1em
      );
    background:
      repeating-linear-gradient(
        to right,
        transparent,
        transparent .9em,
        #ace9f1 .9em,
        #ace9f1 1em
      ),
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent .9em,
        #ace9f1 .9em,
        #ace9f1 1em
      );
  }

  .l-code {
    display: block;
    width: 100%;
    background-color: #ddd;
  }

  .m-header-nav {
    width: 50%;
    margin-right: 2em;
    margin-top: 4em;
  }
    
  .m-header-nav li {
    display: inline-block;
    padding: 0 1.25em;
    transition: all 0.3s ease-in-out;
    background: #fff center no-repeat;
  }

  .m-header-nav a {
    font-size: 1.5em;
    padding: .2em;
  }

  .m-header-nav a:active {
    box-shadow: 0 0 10px 2px #ff6500;
    color: #ff5600;
  }

  .m-header-nav a:hover {
    color: white;
    background-color: #515151;
    padding: .2em;
  }

  .m-header-nav li:hover { 
    background: url('ltBracket.svg') left no-repeat,
                url('rtBracket.svg') right no-repeat;
  }

  .m-header-nav .s-calc-link {
    display: none;
  }

  .m-header-nav .s-dsktp-ftrs {
    display: inline-block;
  }

  .m-header-nav .s-mob-ftrs {
    display: none;
  }

  .m-header-nav .s-mob-about {
    display: none;
  }

  .m-workspace-nav {
    display: inline-block;
    width: 19em;
    float: left;
    margin-top: .5em;
  }

  .m-workspace-nav > a {
    background-color: #333;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'nova square', helvetica, sans-serif;
    font-size: 1.5em;
    margin: .4em 0 0 .75em;
    padding: .2em;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 9999;
    border: 1px solid #515151;
    outline: .15em solid #333;
  }

  .m-workspace-nav > a:active {
    box-shadow: 0 0 10px 5px #ff6500;
    color: #ff5600;
  }

  .m-workspace-nav > a:hover {
    border: 1px solid #ff5600;
  }

  .m-workspace-nav ul {
    list-style-type: none;
    margin-left: .95em;
    border: .2em solid #333;
    width: 17em;
    position: relative;
    z-index: 9999;
    background-color: #333;
    display: none;
  }

  .m-workspace-nav li {
    width: 100%;
    border: 1px solid #515151;
  }
  
  .m-workspace-nav li > a {
    font-size: 1em;
    width: 100%;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 0 .5em 1em;
    font-family: 'nova square', helvetica, sans-serif;
  }

  .m-workspace-nav li > a:hover {
    background-color: #515151;
    outline: 1px solid #ace9f1;
  }

  .m-menu-up-link img {
    margin-left: 3.9em;
  }

/* @current */
  [class*="m-dsktp-instruct-win"] {
    display: inline-block;
    margin-top: 5.9em;
    float: left;
    border: .2em solid #333;
    background-color: #ddd;
  }

  [class*="m-dsktp-instruct-win"] header {
    width: 100%;
    overflow: auto;
    padding: .4em .3em;
    background-color: #333;
  }

  [class*="m-dsktp-instruct-win"] h3 {
    float: left;
    font-weight: normal;
    font-family: 'nova square', helvetica, sans-serif;
    font-size: 1.5em;
    color: #fff;
  }

  [class*="m-dsktp-instruct-win"] ul {
    list-style-type: none;
    margin: 0em 1em 1em 1em;
  }

  [class*="m-dsktp-instruct-win"] li {
    margin-top: 1em;
    color: #333;
    font-family: 'nova square', helvetica, sans-serif;
    font-size: 1em;
  }

  [class*="m-def-calc-win-col-"] {
    display: none;
    position: absolute;
    min-width: 20em;
  }

  [class*="m-def-calc-win-col-"] header {
    overflow: auto;
    cursor: -webkit-grab;
    -webkit-user-select: none;
  }

  [class*="m-def-calc-win-col-"] header:active {
    cursor: -webkit-grabbing;
  }

  [class*="m-def-calc-win-col-"] .m-calc-win-close {
    display: inline-block;
    float: right;
    cursor: pointer;
    font-family: 'Audiowide', helvetica, sans-serif;
    color: #ff5600;
    text-decoration: none;
    margin: .1em .2em 0 0;
  }

  [class*="m-def-calc-win-col-"] .m-calc-win-close:hover {
    color: #ff7833;
  }

  [class*="m-def-calc-win-col-"] h3 {
    float: left;
    margin-left: .2em;
    text-align: left;
  }

  .m-calc-win-def-btn a:hover {
    background-color: #5e5e5e;
  }

  .m-def-win footer > a:hover {
    background-color: #5e5e5e;
  }

  .m-calc-content-win .m-calc-btn-orange:hover {
    color: #ff5600;
    border: 1px solid transparent;
    box-shadow: none; 
  }

  .m-calc-content-win .m-rst-btn-blue:hover {
    color: #ace9f1;
    border: 1px solid transparent;
    box-shadow: none; 
  }

  .m-calc-content-win .m-calc-btn-orange:active {
    color: #ff5600;
    border: 1px solid #ff5600;
    box-shadow: 0 0 10px 1px #ff5600; 
  }

  .m-calc-content-win .m-rst-btn-blue:active {
    color: #ace9f1;
    border: 1px solid #ace9f1;
    box-shadow: 0 0 10px 1px #ace9f1; 
  }

  .m-cross-box p {
    font-size: .8em;
  }

  .m-info-hdr {
    clear: left
  }

  [class*="m-feature-col"] {
    padding: 0;
    display: inline-block;
    float: left;
    margin-left: 6.25%;
    min-height: 18em;
  }

  [class*="m-feature-col"] header {
    margin-top: 1em;
  }

  .s-mob-calc-menu-col- {
    display: none;
  }

}
